<div class="md:container md:mx-auto">
  <div *ngFor="let t of teste" class="block p-8 border border-gray-100 shadow-xl rounded-xl content-start ">
    <span class="absolute right-4 top-4 rounded-full px-3 py-1.5 bg-green-100 text-green-600 font-medium text-xs">
      4.3
    </span>

    <div class="mt-4 text-gray-500 sm:pr-8">

      <img src="{{t.box_art_url.replace('{width}', '200').replace('{height}', '200')}}" class="rounded-full">

      <h5 class="mt-4 text-xl font-bold text-gray-900">{{t.name}}</h5>
    </div>
  </div>
</div>
  
