<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="px-5 navbar-brand" href="#">
    <img class="nav-image" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngFor="let menu of listaMenus" class="nav-item">
        <a class="nav-link" href="{{menu.url}}">{{menu.name}}</a>
      </li>
    </ul>
  </div>
</nav>
<ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" class="carousel slide" data-ride="carousel">
  <ng-template ngbSlide *ngFor="let image of backgroundImages">
    <div [style.background-color]="image.color_overlay">
      <img id="multiplyImg" class="d-block w-100 h-50" [src]="image.src" alt="">
      <div class="carousel-caption d-block d-md-block">
        <h1 class="TekoFont">{{image.game_name}}</h1>
        <img width="75" src=" {{image.flag}}" alt="/">
        <p class="PoppinsFont">{{image.description}}</p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<div class="container-fluid justify-content-center py-3">
  <h1 class="text-center TekoFont">Tags</h1>
  <div class="d-flex justify-content-around">
    <button class="btn text-dark my-auto" (click)="previous()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <div [class]="slides[selectedIndex] == slide ? 'active': 'hidden'" *ngFor="let slide of slides" class="col-1 px-2" align="center">
      <a href="/"><img class="shadow-lg my-5 rounded-circle" src="{{slide.box_art_url.replace('{width}', '200').replace('{height}', '200')}}"></a>
      <b class="py-1 px-2 rounded gameFont">{{slide.name}}</b>
    </div>
    <button class="btn text-dark my-auto" (click)="next()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </div>
</div>
<div class="bg-light">
  <div class="container">
    <h1 class="text-center py-3 TekoFont">Diário</h1>
    <div class="row">
      <div *ngFor="let daily of dailyClips" class="col-md-4 my-2 px-2">
        <div class="card">
          <a style="cursor: pointer" (click)="open(daily.id)"><img class="cardImg card-img-top" src="{{daily.thumbnail_url}}" /> </a>
          <div class="top-right-img text-white bg-views p-2 rounded">{{daily.view_count | number : '1.0-2':'pt-BR'}} views</div>
          <div class="card-body">
            <div class="card-title w-1">
              <b>{{daily.broadcaster_name}}</b>
            </div>
            <p class="card-text">{{daily.title}}</p>
            <b class="py-1 px-2 rounded gameFont">{{daily.game_name}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="text-center py-3 TekoFont">Semanal</h1>
  <div class="row">
    <div *ngFor="let weekly of weeklyClips" class="col-md-4 my-2 px-2">
      <div class="card">
        <a style="cursor: pointer" (click)="open(weekly.id)"><img class="cardImg card-img-top" src="{{weekly.thumbnail_url}}" /> </a>
        <div class="top-right-img text-white bg-views p-2 rounded">{{weekly.view_count | number : '1.0-2':'pt-BR'}} views</div>
        <div class="card-body">
          <div class="card-title w-1">
            <b>{{weekly.broadcaster_name}}</b>
          </div>
          <p class="card-text">{{weekly.title}}</p>
          <b class="py-1 px-2 rounded gameFont">{{weekly.game_name}}</b>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="bg-dark text-center text-lg-start text-white">
  <div class="text-center p-3">
    © 2022 Copyright: ClipItch
  </div>
</footer>
