<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a class="px-5 navbar-brand">
    <img class="nav-image">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer" (click)="abrirModalAuth()">Login &nbsp;<i class="fa fa-user text-white starHover" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>
<ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" class="carousel slide" data-ride="carousel">
  <ng-template ngbSlide *ngFor="let image of backgroundImages">
    <div [style.background-color]="image.color_overlay">
      <img id="multiplyImg" class="d-block w-100 h-50" [src]="image.src" alt="">
      <div class="carousel-caption d-block d-md-block">
        <h1 class="TekoFont">{{image.game_name}}</h1>
        <img width="75" src=" {{image.flag}}" alt="/">
        <p class="PoppinsFont">{{image.description}}</p>
        <button class="btn btn-lg btn-dark" href="">Ver Todos os Clipes</button>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<div class="container-fluid bg-light">
  <div class="justify-content-center py-3">
    <h1 class="text-center TekoFont">Tags</h1>
    <div class="d-flex justify-content-center">
      <button class="btn btn-lg text-dark my-auto" (click)="previous()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      <div [class]="slides[selectedIndex] == slide ? 'active': 'hidden'" *ngFor="let slide of slides" class="col-1 px-2" align="center">
        <a href="/"><img class="shadow-lg my-5 rounded-circle" ngbTooltip="{{slide.name}}" placement="bottom" src="{{slide.box_art_url.replace('{width}', '200').replace('{height}', '200')}}"></a>
      </div>
      <button class="btn btn-lg text-dark my-auto" (click)="next()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <hr class="my-4 text-dark"/>
  <div class="container">
    <h1 class="text-center py-3 PoppinsFont">Clipes</h1>
    <div class="row">
      <div *ngFor="let clip of allClips" class="col-md-4 my-2 px-2">
        <div class="card">
          <a style="cursor: pointer" (click)="open(clip.id)"><img class="cardImg card-img-top" src="{{clip.thumbnail_url}}" /> </a>
          <div class="top-right-img text-white bg-views p-2 rounded">{{clip.view_count | number : '1.0-2':'pt-BR'}} views</div>
          <div class="card-body">
            <div class="card-title w-1">
              <b>{{clip.broadcaster_name}}</b>
            </div>
            <p class="card-text">{{clip.title}}</p>
            <b class="py-1 px-2 rounded gameFont">{{clip.game_name}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="bg-dark text-center text-lg-start text-white">
  <div class="text-center p-3">
    © 2022 Copyright: ClipItch
  </div>
</footer>
