body {
  font-family: "Roboto", serif;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Pattaya", serif;
}

b.bFont {
  font-family: "Roboto", serif;
  font-size: 1.5rem;
}

b.clipedFont {
  font-family: "Roboto", serif;
}

.nav-image {
  content: url("assets/images/logo.png");
  width: 18%;
  height: 100%;
}

.gameFont {
  background: #ffc107;
}

.top-right-img {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bg-views {
  background: rgba(0, 0, 0, 0.7);
}

.bg-cliped {
  background: rgba(255, 0, 0, 1);
}

.bg-custom {
  background-color: #c271eb !important;
}

.TekoFont {
  font-family: Teko;
}

.PoppinsFont {
  font-family: Poppins;
}

.carousel-item #multiplyImg {
  mix-blend-mode: multiply;
  opacity: 40%;
  height: 92vh !important;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.active {
  display: block;
}

.hidden {
  display: none
}

.modal-content {
  background-image: url("assets/images/cph_snip.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  margin: 60% auto;
  width: auto;
}

.modal {
  width: 100% !important; /* Full width */
  height: 100% !important; /* Full height */
}


.close {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

  .close:hover,
  .close:focus {
    color: #ffe900;
    text-decoration: none;
    cursor: pointer;
  }

.modal-header {
  background-color: transparent;
  border: none !important;
}

.modal-footer {
  background-color: transparent;
  border: none !important;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

.modal-xl {
  max-width: 100vw !important;
  max-height: 100vh !important;
}

.imgsModal {
  width: 15%;
}

.iframeModal {
  width: 640px;
  height: 360px;
}

/* Define o css para o tamanho da resolução em Tablets */
@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  
  .modal-content {
    width: 100%;
    height: 100%;
  }

  #colModal1.col {
    flex: 1 0 10%;
    padding-bottom: 5%;
  }

  .modal-dialog-centered {
    margin-left: 10%;
  }

  .modal-xl {
    max-width: 100%;
    max-height: 100%;
  }

  .imgsModal {
    width: 25%;
  }

  .iframeModal {
    width: 100%;
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
  }

  .modal-backdrop {
    width: 100%;
    height: 100%;
  }
}

/* Define o css para o tamanho da resolução em IPad modo Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
 
  .modal-dialog-centered {
    margin-left: 10%;
  }

  .imgsModal {
    width: 15%;
  }

  .iframeModal {
    width: 100%;
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
  }

    body.modal-open {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow-y: scroll;
    }

  .modal-content {
    width: 100%;
    height: 90%;
  }

  .modal-backdrop {
    width: 100%;
    height: 100%;
  }
}

/* Define o css para o tamanho da resolução em IPad modo Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  
  .modal-dialog-centered {
    margin-left: 10%;
  }

  .imgsModal {
    width: 30%;
  }

  .iframeModal {
    width: 100%;
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
  }

  .modal-content {
    width: 100%;
    height: 90%;
  }

  .modal-backdrop {
    width: 100%;
    height: 100%;
  }
}

/* Define o css para o tamanho da resolução Iphone X (Mobile) */
@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .modal-content {
    width: 100%;
    height: 100%;
  }

  #colModal1.col {
    flex: 1 0 100%;
    padding-bottom: 5%;
  }

  .modal-dialog-centered {
    margin-left: 10% !important;
  }

  .modal-xl {
    max-width: 100% !important;
    max-height: 100% !important;
  }

  .imgsModal {
    width: 25%;
  }

  .iframeModal {
    width: 100%;
    height: 100%;
  }
}
